<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RfoLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RfoLogViewer.Properties.Settings>
            <setting name="LastLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="LastContextId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTableColumnLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="LogStructColumnLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="LogStructColumnVisibility" serializeAs="String">
                <value />
            </setting>
            <setting name="LogTableColumnVisibility" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>1400</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>380</value>
            </setting>
        </RfoLogViewer.Properties.Settings>
    </userSettings>
</configuration>
